#ignore packaged mods & vscode workspaces
*.zip
*.code-workspace

#ignore compiled plotter data & plotted image
RealisticFusionPower/.cross-section-data/plotter-rs/Cargo.lock
RealisticFusionPower/.cross-section-data/plotter-rs/target
RealisticFusionPower/.cross-section-data/processed/cross-section.png
RealisticFusionPower/.cross-section-data/raw-ENDF/cross-section.png
RealisticFusionPower/.cross-section-data/cross-section.png
RealisticFusionAntimatter/graphics/icons/proton.png
RealisticFusionAntimatter/graphics/icons/positron.png
RealisticFusionAntimatter/graphics/icons/old/proton.png
RealisticFusionAntimatter/graphics/icons/old/positron.png
RealisticFusionAntimatter/graphics/icons/old/hydrogen-ionization.png
RealisticFusionAntimatter/graphics/icons/old/high-energy-positron.png
RealisticFusionAntimatter/graphics/icons/old/high-energy-antiproton.png
RealisticFusionAntimatter/graphics/icons/old/electron.png
RealisticFusionAntimatter/graphics/icons/old/antiproton.png
RealisticFusionAntimatter/graphics/icons/hydrogen-ionization.png
RealisticFusionAntimatter/graphics/icons/high-energy-positron.png
RealisticFusionAntimatter/graphics/icons/high-energy-antiproton.png
RealisticFusionAntimatter/graphics/icons/electron.png
RealisticFusionAntimatter/graphics/icons/antiproton.png
