#ignore packaged mods & vscode workspaces
*.zip
*.code-workspace

#ignore compiled plotter data & plotted image
RealisticFusionPower/.cross-section-data/plotter-rs/Cargo.lock
RealisticFusionPower/.cross-section-data/plotter-rs/target
RealisticFusionPower/.cross-section-data/processed/cross-section.png
RealisticFusionPower/.cross-section-data/raw-ENDF/cross-section.png
RealisticFusionPower/.cross-section-data/cross-section.png